@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #6284FF;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

#chat {
  background-color: white;
  width: 25vw;
  height: 35vw;

  display: flex;
  flex-direction: column;

  justify-content: space-between;

  padding: 0px;
  border-radius: 15px;

  box-shadow: 0px 0px 100px 5px rgba(0, 0, 0, 0.1);
}


header {
  background-color: var(--main-color);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 15px 20px;
}

input[name=username] {
  background-color: rgba(0, 0, 0, 0);
  border: 0;

  font-size: .9rem;
  color: white;
  font-weight: 500;
}

#messages {
  height: 50vh;
  padding: 0 1.5vw;


  overflow: auto;
}

input[name=message] {
  height: 3vw;
  padding: 0px 15px;
  
  border: 2px solid rgba(237, 237, 237, 0.761);
  border-radius: 15px;
  width: 80%;

  color: rgb(109, 109, 109);;
  font-weight: 300;
  font-size: .9rem;
}

button[type=submit] {
  width: 3vw;
  height: 3vw;
  
  border-radius: 25px;

  color: white;
  background-color: var(--main-color);
  border: 0;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid var(--main-color);
}

.send {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vw;
  padding: 0 1.5vw;
}

strong {
  color: #9EABD6;
}

div {
  color: rgb(109, 109, 109);
}

.message {
  font-size: .9rem;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}


::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}